AIRFLOW_IMAGE_NAME=apache/airflow:2.7.1
AIRFLOW_UID=50000
AIRFLOW__CORE__LOAD_EXAMPLES=False
_AIRFLOW_WWW_USER_PASSWORD=airflow
FERNET_KEY=js_6_4ve-p8mv3j4p8m_v3j4p8m_v3j4p8m_v3j4=

# Clefs APIs à remplir
GEMINI_API_KEY=
NEWSDATA_API_KEY=

# Telegram
TELEGRAM_TOKEN=
CHAT_ID=